build/
__pycache__/
*.pyc
test_data/
data/
glifos/*/tendencias.json
glifos/*/tema_seleccionado.json

# Pipeline temporals
glifos/generacion-contenido/respuesta_ia.txt

glifos/generacion-contenido/tendencias.json
glifos/generacion-contenido/tema_seleccionado.json
