#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

100 DIALOGEX 0, 0, 280, 90
STYLE DS_CENTER | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Coordenada"
BEGIN
    LTEXT "Coordenada. Tiempo de espera:", 101, 10, 10, 260, 12
    EDITTEXT 102, 10, 28, 260, 16, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 80, 55, 50, 20
    PUSHBUTTON "Cancelar", IDCANCEL, 150, 55, 50, 20
END
